<a href="https://colab.research.google.com/github/Adristiftitah/PKL/blob/main/PKL_D_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello Guru-Guru TKJ!")
print("Belajar Python dari Nol")
nama = "Eljava Mifzal Herbiyan"
print(nama)

Hello Guru-Guru TKJ!
Belajar Python dari Nol
Eljava Mifzal Herbiyan

**Penulisan String pada Python**

In [4]:
nama = "Eljava Mifzal Herbiyan"
kelas = "TKJ - 01"

#tidak menampilkanhasilnya karna fungsi print belum dipanggil

**Penulisan Case pada Python**

In [ ]:
## Snake Case digunakan pada: 
module nama, package name, method name, function nama, global var name, 
global var name, isinstance var name, function parameter name, local var name.

# CamelCase digunakan Pada:
ClassName, ExpectionName

## ALL CAPS digunakan pada:
GLOBAL_CONSTANT_NAME

**Penulisan Blok Program**

In [12]:
#blok percabangan if
username = "eljava"

if username == 'eljava':
  print("Selamat Datang Admin")
  print("Silahkan ambil tempat duduk")
# menambahkan 'username="eljava' untuk mendeklarasikan variabel username"

#blok percabangan for
for i in range(10):
  print (i)
# untuk menampilkan sebuah stetment perintah print variabel harus didalam kurung

Selamat Datang Admin
Silahkan ambil tempat duduk
0
1
2
3
4
5
6
7
8
9

**Penulisan Komentar**

In [ ]:
MENGGUNAKAN PAGAR 

#ini adalah komentar
# ini juga komentar

MENGGUNAKAN TANDA PETIK
"Ini adalah komentar dengan tanda petik ganda"
'Ini juga komentar, tapi dengan tanda petik tunggal'

#penulisan komentar tidak disarankan menggunakan tanda petik karena sistem menganggap itu sebuah variabel yang harus ditampilkan

**Input dari Keyboard**

In [13]:
#Mengambil input
nama = input("Siapa nama kamu ? ")
umur = input("Berapa umur kamu ? ")

#Menampilkan output
print ("Hello",nama,"umur kamu adalah",umur,"tahun")

# perintah input harus diikutkan agar sistem mengetahui bahwa user memasukan sebuah variabel

Siapa nama kamu ? Adristi
Berapa umur kamu ? 20
Hello Adristi umur kamu adalah 20 tahun

In [19]:
nama_variabel = input("sebuah text ")
print ("Hello World!")
print (nama_variabel)
print ("Gabung dengan " + nama_variabel)

# tidak bisa tampil karna belum mendeklarasikan nama variabel lalu variabel harus berada dalam kurung

sebuah text Hai
Hello World!
Hai
Gabung dengan Hai

**Tipe Data**

In [23]:
harga = 12000 #tipe int
berat = 23.12 #float
jarak = 3e3 #float 3000.0, huruf 3 artinya eksponen 10(eksponen artinya perkalian)

print(harga, berat, jarak)

12000 23.12 3000.0

In [30]:
nama = "Adristi Iftitah Yuniar"
jenis_kelamin = 'P'
alamat = """
      Graha Gardenia, D9. RT/RW 02/14,
      Saptorenggo, Malang
"""
agama = 'Islam'

print ("Nama: ",nama,";","Jenis Kelamin: ",jenis_kelamin,";","Alamat: ",alamat,"Agama : ",agama)

Nama:  Adristi Iftitah Yuniar ; Jenis Kelamin:  P ; Alamat:
      Graha Gardenia, D9. RT/RW 02/14,
      Saptorenggo, Malang
 Agama :  Islam

In [32]:
nyala = True 
nyala = 1 #Nilai 1 tipe int, tapi bisa menjadi bool

**Konversi Tipe Data**

In [34]:
a = 10
b = 3
c = a / b

print (c)

3.3333333333333335

In [35]:
a = 10
b = 3
c = float(a) / float(b) #output: 3.3333333333333335
print (c)

3.3333333333333335